<h1> Search results for <%= title %> </h1>
<ul>
<% for (var result in pages){ %> 
<li><h2> <a href ="http://en.wikipedia.org/?curid=<%= result%>"  > <%=  pages[result].title %></a></h2> <p> <%= pages[result].extract %> </p> </li>
<% } %>



</ul>

